<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/amazeui.min.js}"></script>
    <script th:src="@{/js/amazeui.dialog.min.js}"></script>
    <script th:src="@{/js/index/main.js}"></script>
    <style type="text/css">
        .btn-pull{
            float: right;
        }
    </style>
</head>
<body>
<form class="form-inline" th:action="@{/getAllDown}" th:method="post">
    <label>用户名 &nbsp;:&nbsp;&nbsp;&nbsp;</label>
    <input type="text" class="form-control" id="uName" name="uName">
    <label>&nbsp;&nbsp;&nbsp;&nbsp;文件名 &nbsp;:&nbsp;&nbsp;&nbsp;</label>
    <input type="text" class="form-control" id="fileName" name="fileName">
    <label>&nbsp;&nbsp;&nbsp;&nbsp;文件ID &nbsp;:&nbsp;&nbsp;&nbsp;</label>
    <input type="text" class="form-control" id="fileId" name="fileId">
    <div class="btn-pull">
        <input type="submit" class="btn btn-primary pay-btn" value="下载记录">
    </div>
</form>
<div style="height: 20px"></div>
<table class="table table-hover table-bordered" th:if="${downList!=null}">
    <tr>
        <td>用户名</td>
        <td>用户Id</td>
        <td>文件名</td>
        <td>文件Id</td>
        <td>下载时间</td>
    </tr>
    <tr th:each="downList:${downList}">
        <td th:text="${downList.userEntity.name}"></td>
        <td th:text="${downList.userId}"></td>
        <td th:text="${downList.userFileEntity.fileName}"></td>
        <td th:text="${downList.fileId}"></td>
        <td th:text="${downList.time}"></td>
    </tr>
</table>
<img th:src="@{/img/back.jpg}" th:if="${downList}==null" style="width: 70%;height: 70%;float: right">
<div>
    <ul class="pagination" th:each="downList:${downListSize}">
        <li><a class="pageNum" th:value="${downList.currentPage}" th:text="${downList.currentPage}"></a></li>
    </ul>
</div>
<form th:method="post" th:action="@{/getAllDown2}" id="hidden-form">
    <input type="hidden" name="pageNum" class="hidden-text">
    <div style="display:none;"><input class="hidden-submit" type="submit"></div>
</form>
</body>
</html>