<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <script type="javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body class="style-3">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <!-- Start Sign In Form -->
            <form class="fh5co-form animate-box" data-animate-effect="fadeInRight" th:action="@{/index}"
                  th:method="post">
                <h2>管理员登录</h2>
                <i>演示用户名：123 密码：123</i>
                <div id="wrong" class="form-group" hidden>
                    <div id="login-msg" class="alert alert-danger" role="alert"></div>
                </div>
                <div class="form-group" onclick="hide()">
                    <label for="name" class="sr-only">username</label>
                    <input type="text" class="form-control" id="name" placeholder="用户名" autocomplete="off"
                           name="admin_name">
                </div>
                <div class="form-group" onclick="hide()">
                    <label for="pass" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="pass" placeholder="密码" autocomplete="off"
                           name="admin_pass">
                </div>
                <div class="form-group">
                    <label for="remember"><input type="checkbox" id="remember" name="check"> 一周内免登录</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="登录" class="btn btn-primary" id="login">
                </div>
            </form>
            <!-- END Sign In Form -->
        </div>
    </div>

</div>
</body>
</html>