<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!--<link rel="stylesheet" th:href="@{/css/index/default.css}">-->
    <!--<link rel="stylesheet" th:href="@{/css/index/style.css}">-->
    <!--<link rel="stylesheet" th:href="@{/css/index/normalize.css}">-->
    <!--<link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">-->
    <script  th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script  th:src="@{/js/bootstrap.min.js}"></script>
    <script  th:src="@{/js/index/main.js}"></script>
</head>
<body>

<form class="form-inline" th:method="post" th:action="@{/getUsers}" >
    <div class="form-group">
        <label for="exampleInputName2">姓名:</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" name="name">
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="form-group">
        <label for="exampleInputEmail2">邮箱:</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com" name="email">
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="form-group">
        <label for="exampleInputEmail2">状态:</label>
        启用<input type="radio" class="form-control" name="staus" value="0">
        停用<input type="radio" class="form-control" name="staus" value="1">
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-default">查找</button>
</form>


<table class="table table-hover table-bordered">
    <tr>
        <td>用户名</td>
        <td>密码</td>
        <td>邮箱</td>
        <td>状态</td>
        <td>最大空间</td>
        <td>已用空间</td>
    </tr>
    <tr th:each="userList:${userLists}">
        <td th:text="${userList.name}">**</td>
        <td th:text="${userList.pass}">**</td>
        <td th:text="${userList.email}">**</td>
        <td th:text="${userList.staus}">**</td>
        <td th:text="${userList.size}">**</td>
        <td th:text="${userList.use}">**</td>
    </tr>
</table>
</body>
</html>